In [1]:
#use of format method to get variable value
'My name is {}. My age is {}'.format('Shruti',21)

'My name is Shruti. My age is 21'

In [2]:
'My name is {name}. My age is {age}'.format(name='Shruti',age=21)

'My name is Shruti. My age is 21'

In [5]:
##Slicing of strings
#string[start:stop:]
s = 'Shrutivats'
print(s[3:4])
print(s[0:])
print(s[:4])

u
Shrutivats
Shru

In [9]:
## List
my_list=['a','b','c','d']
print('initial list {} '.format(my_list))
my_list.append('e') # append at the end
print('appended List {}'.format(my_list))

initial list ['a', 'b', 'c', 'd']
appended List ['a', 'b', 'c', 'd', 'e']

In [10]:
##slicing in list is same as string
my_list[1:5]

['b', 'c', 'd', 'e']

In [13]:
##nested list
nest=[1,2,[3,4],5]
print(nest[2])
print(nest[2][1])

[3, 4]
4

In [14]:
nest=[1,2,[3,4],5,['Shruti','Vats']]
print(nest[4])
print(nest[4][0])

['Shruti', 'Vats']
Shruti

In [6]:
##dictionaries
#d ={key:value}
dic = {'key1':1,'key2':2}

In [7]:
#access of dictionaries
#dictionaries are key value pair mappings
dic['key2']

2

In [8]:
dic

{'key1': 1, 'key2': 2}

In [9]:
d={'k1':[1,2,3]}
d['k1']

[1, 2, 3]

In [10]:
d['k1'][0]

1

In [11]:
d={'k1':{'k11':[1,2,3]}}

In [12]:
d['k1']

{'k11': [1, 2, 3]}

In [13]:
d['k1']['k11'][1]

2

In [14]:
##tuple
#immutable
t=(1,2,3)

In [15]:
t[0]

1

In [16]:
t[0]='new'

TypeError: 'tuple' object does not support item assignment

In [17]:
#set
set([1,2,2,4,4,4,4,5,5,5,5,6,1,8,8,9])

{1, 2, 4, 5, 6, 8, 9}

In [18]:
s1={1,2,3,4}

In [21]:
s1.add(5)

In [22]:
s1

{1, 2, 3, 4, 5}

In [24]:
s1.add(5)
s1

{1, 2, 3, 4, 5}

In [26]:
##if-else
if 1==2:
    print('first')
elif 3==3:
    print('second')
else:
    print('last')

second

In [27]:
##for loop
seq=[1,2,3,4,5]

In [28]:
for item in seq:
    print(item)

1
2
3
4
5

In [33]:
##while loop
i=1
while i<6:
    if(i%2==0):
        print('i is {}'.format(i))
    i=i+1

i is 2
i is 4

In [34]:
##range
range(0,5)

range(0, 5)

In [36]:
for i in range(1,5):
    print(i)

1
2
3
4

In [37]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
##list comprehension
x=[1,2,3,4,5]
out=[]

In [42]:
for num in x:
    out.append(num**2) #code1

In [43]:
out

[1, 2, 3, 4, 5, 1, 4, 9, 16, 25]

In [44]:
[num**2 for num in x]

[1, 4, 9, 16, 25]

In [45]:
new = [num**2 for num in x] #alternate way of writing code1

In [46]:
new

[1, 4, 9, 16, 25]

In [51]:
##functions
def my_func(name):
    print("Hello "+name)

In [52]:
my_func('Shruti Vats')

Hello Shruti Vats

In [53]:
##mapping and lambda expresion
def times2(var):
    return var*2

In [54]:
times2(2)

4

In [66]:
#if i want to use times2 function on each element of this lists 
s = [1,2,3,4,5]
#use map function for this thing
list(map(times2,s))

[2, 4, 6, 8, 10]

In [57]:
## we can use lamda expresion instead of the function
lambda num : num*2 #does the same work as times2()
list(map(lambda num:num*2,s))

[2, 4, 6, 8, 10]

In [62]:
new =list(map(lambda num:num*3,s))

In [63]:
## filter
#it filters out the desired element out of the list
list(filter(lambda num : num%2 ==0,new))

[6, 12]

In [71]:
##methods
new_s = 'Hello my name is Shruti Vats'

In [73]:
new_s.upper()

'HELLO MY NAME IS SHRUTI VATS'

In [74]:
new_s.split()

['Hello', 'my', 'name', 'is', 'Shruti', 'Vats']

In [77]:
tweet = "Go Sports ! # Sports"

In [78]:
for words in tweet.split():
    if words=='Sports' or words== 'Sports':
        print("Its a tweet tweet about sports")

Its a tweet tweet about sports
Its a tweet tweet about sports

In [82]:
#splitting on basis of particular expression
tweet.split('!')

['Go Sports ', ' # Sports']

In [83]:
new_dict = {'k1':1,'k2':2,'k3':3}

In [85]:
##returns keys in a dictionaries
new_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [86]:
#returns all the items in the dictionaries
new_dict.items()

dict_items([('k1', 1), ('k2', 2), ('k3', 3)])

In [87]:
#returns all the values in dictionaires
new_dict.values()

dict_values([1, 2, 3])

In [88]:
l = [10,20,30,40]

In [89]:
#returns element which is removed from the back
l.pop()

40

In [90]:
l

[10, 20, 30]

In [92]:
#returns element which is poped from a particular index 
l.pop(0)

10

In [93]:
##tuple unpacking
x = [(1,2),(3,4),(5,6)]

In [97]:
for first,second in x:
    print(first)

1
3
5

In [96]:
for first,second in x:
    print(second)

2
4
6